<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla Principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido, {{ username }}</h1>

        <h2>Carrito de Compras</h2>
        <form method="POST">
            <ul>
                {% for product in cart %}
                    <li>
                        <input type="checkbox" name="delete_items" value="{{ product.index }}">
                        Producto: {{ product.item['articulo'] }} <br>
                        Cantidad: <input type="number" name="quantity_{{ product.index }}" value="{{ product.item['cantidad'] }}" min="1">
                        Precio Unitario: {{ product.item['precio_unitario'] }}€
                        Precio Total: {{ product.item['cantidad'] * product.item['precio_unitario'] }}€
                    </li>
                {% endfor %}
            </ul>

            <button type="submit" name="modify_cart">Modificar carrito</button>
            <button type="submit" name="delete_all">Eliminar todos los productos</button>
            <button type="submit">Eliminar productos seleccionados</button>
        </form>

        <h3>Total: {{ cart[0].item['importe_total'] }}€</h3>
    </div>
</body>
</html>
